body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/carteles2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.414); 
    z-index: -1; 
}


header{
	background-color: #001F3F;
	text-align:center;
}
h1{
	font-size: 2em;
	color:#e0e5e9;
	margin: 0;
	height: 2.5em;
	padding: 1em 6em;
    text-shadow: 2px 2px 4px rgba(255, 102, 0, 0.882); 
    text-transform: uppercase; 
}

a{
    text-decoration: none;
}

.navbar{
	background-color: #001F3F;
}

#posicion:hover{
    color: #e0e5e9 !important;
    font-weight: bold;
    text-decoration:dotted;
}

.nav-link:hover{
    color:#e0e5e9 !important;
}

h2{
    background-color: #FFA07A;
    border-radius: 15px;
    color: #ffffff;
    margin: 1em auto;
    text-align: center;
    font-size: 1.5em;
    animation: girar 2s ease 2; 
    width: 15%;
}

@keyframes girar {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.alert-success {
    margin-bottom: 0 !important;
    text-align: center;
}


.about{
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    font-size: 1em;
    text-align: center;
}

.about p{
    font-weight:400;
    background: rgba(255, 255, 255, 0.726); 
    z-index: -1; 
}

.about ul{
    list-style: none;
}

.about ul li{
    line-height: 2.5em;
    margin: 2em;
}

.about > ul li::before{
    content: "\f00c";
    margin: 0 20px 0;
    color:#252c16;
}

.btn-color{
	color:white;
}

.btn-color:hover{
	color:#c6a84b ;
}

.btn-peliculas{
	background-color:#FFA07A ;
	color: white;
    padding:.5em;
    border-radius: 15px;
}

.btn-peliculas:hover{
	color: #001F3F;
    text-decoration: none !important;
}

.ir {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
}

.input{
    width: 35%;
    font-size: 1em;
    padding-right: .5em;
    margin: 0 auto;
}

label{
    background-color: #FFA07A;
    border-radius: 15px;
    color: #ffffff;
    padding: 6px 10px;
}

#botonBuscar {
    border-radius: 15px;
    margin: 1em auto;
    font-size: 0.8em;
    padding: 0.7em; 
    color: white;
    background-color: #FFA07A !important;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#botonBuscar:hover{
	color:#001F3F;
}

#respuesta{
    flex: 1;
    width: 70%;
    margin: 0 auto;
}

.card {
    margin: 0 auto !important;
}

footer{
	width: 100%;
	text-align:center;
	background: #001F3F ;
    padding-top: 1em;
	padding-bottom: 0.2em;
    margin-top: auto;
}

footer ul li{
	color: white;
	background: #001F3F ;
    line-height: 1.5em;
	font-size: 0.9em;
	list-style-type: none;
}

footer div{
    margin: 1em;
}

/* Media query para pantallas con ancho igual o menor a 600px */
@media (max-width: 756px) {
    h1{
     font-size: 1.5em;   
    }
    h2{
    font-size: 1em;
    f
    }
}

@media (max-width: 573px) {
    h1{
     font-size: 1em;   
    }
    h2{
        font-size: 1em;
    }
    .about p{
        font-weight:200;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.726); 
        z-index: -1; 
    }
}